*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }
  
  html
  {
      font-size:100%;
     
    --bg: rgb(255, 255, 255);   
    --color-headings: rgb(0, 0, 0);
    --color-text: #000000;
    --color-grey: #747474e7;
    --color-buttom:#710000;

  }
  
  body
  {
      -webkit-font-smoothing:antialiased;
      color: var(--color-text);
      font-family: 'Lato', sans-serif;
      font-size:18px;
      font-weight:400;
      line-height:1.4;
      text-rendering:optimizeLegibility;
  }
  
  .skill-set li:hover
  {
      background: var(--color-buttom);
  }

  .skill-set li
  {
      background: var(--color-headings);
      border-radius:5px;
      color: rgb(235, 235, 235);
      display:inline-block;
      list-style:none;
      margin:15px 15px 0 0;
      padding:10px;
      text-align:justify;
    
  }
  
  li{
    text-align: center;
    -webkit-animation: scaledown .4s linear;;
    animation: scaledown .4s linear;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
}
  li:hover
    {
    z-index: 100;
    -webkit-animation: scale 0.4s linear;;
    animation: scale 0.4s linear;
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;

}

  .cv{
    color: rgb(235, 235, 235);
    text-decoration: none;
  }
  .cv:hover {
    color: rgb(235, 235, 235);
    background-color: transparent;
    text-decoration: none;
  }
  .me{
    color: var(--color-text);
    text-decoration: none;
  }
  .me:hover{
    color: var(--color-text);
    text-decoration: none;
  }
  
  h1
  {
      color: var(--color-text);
  }
  hr{
    border: 0.4px solid var(--color-grey);
  }

  /* sections */
  .about{
    border:1px solid var(--color-text);
    padding: 25px;
    border-radius: 6px 0 5px 0;
}

  .forma{
      border:1px solid var(--color-text);
      padding: 25px;
      border-radius: 6px 0 5px 0;
  }

.lang{
    border:1px solid var(--color-text);
    padding: 25px;
    border-radius: 6px 0 5px 0;
}

.comp{
    border:1px solid var(--color-text);
    padding: 25px;
    border-radius: 6px 0 5px 0;
}
.exp{
    border:1px solid var(--color-text);
    padding: 25px;
    border-radius: 6px 0 5px 0;
}

.perso{
    border:1px solid var(--color-text);
    padding: 25px;
    border-radius: 6px 0 5px 0;
}

.separator-P{
    width:33px;
    background-color: var(--color-text);
    border: 0.4px solid var(--color-text);
}
.separator-M{
    width:45px;
    background-color: var(--color-text);
    border: 0.4px solid var(--color-text);
}
.separator-G{
    width: 55px;
    background-color: var(--color-text);
    border: 0.4px solid var(--color-text);
}

/*icons*/
.fas{
    font-size: 45px
}

.fab{
    font-size: 53px
}

  .wrapper
  {
      height:100%;
  }

  
  
  .left
  {
      border-right:var(--color-grey);
      float:right;
      height:100%;
      margin-left:-1px;
      min-width:256px;
      position:fixed;
      width:33.33%;
      overflow: hidden;
  }
  
  
  .right
  {
      float:right;
      height:100%;
      position:relative;
      width:66.66%;
      background-color: var(--bg);
  }

  .darkmode{
      margin: 0px;
      padding: 0px;

  }
  label{
      margin: 0;
      z-index: 100;
  }

  .col{
      max-height: 1px;
  }

  .row{
    max-height: 1px;
}

  .toggle{
      padding: 35px 40px 0 0;
      margin: 0px;
      max-width: 52px;
  }


input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 56px;
    height: 33px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: absolute;
}

label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 28px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: var(--color-buttom);
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}
  
.video{
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 102%;
}

  .name-hero
  {
      background:rgba(0,0,0,.001);
      bottom:0;
      height:290px;
      left:0;
      margin:auto;
      position:absolute;
      right:0;
      top:0;
      width:85%;
  }
  
  .me-img
  {
      background:url(img/photo_2020-05-06_22-49-12.jpg) no-repeat center center ;
      background-size:100%;
    background-position:0px;
      border-radius:100%;
      height:150px;
      margin:20px auto;
      position:relative;
      width:150px;
  }
  
  .name-hero h1
  {
      font-family: 'Lato', sans-serif;
      font-size:1.5em;
      text-align:center;
  }
  
  .name-hero h1 em
  {
      color: var(--color-text);
      font-style:normal;
      font-weight:700;
  }
  
  .name-hero p
  {
      color:var(--color-grey);
      font-size:.90em;
      line-height:1.5;
      margin:0 8px 0 0;
      text-align:center;
  }
  
  .name-hero .name-text
  {
      margin:0 auto;
      width:85%;
  }
  .name-text{
      background-color: var(--bg);
      border-radius: 7px;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  
  .inner
  {
      margin:0 auto;
      max-width:975px;
      padding:0 3em;
  }
  
  .inner h1
  {
      font-size:1.75em;
      padding-bottom: 27px;
      padding-top:15px;
  }
  
  .inner p
  {
      color:var(--color-grey);
  }
  
  .inner p em
  {
      color:var(--color-text);
      font-style:normal;
  }
  
  .inner section
  {
      margin:100px auto;
  }
  
  ul
  {
      list-style-type:none;
      margin-top:-10px;
      padding:0;
  }
  


@keyframes scaledown{
  0%{
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
  }
  100%{
      -webkit-transform: scale(1.0);;
      transform: scale(1.0);
  }
}

@keyframes scale{
  0%{
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  100%{
      -webkit-transform: scale(1.1);;
      transform: scale(1.1);
      box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0);
  }
} 
  
  @media screen and (max-width: 48em) {
      .right,.left
      {
          float:none;
      position:relative !important;
          width:100%;
      min-height:500px;
      }
    .handmade {
    text-align:center !important;
    margin-top:0px !important;
  }

  label{
    position: relative;
    transform: rotate(90deg);

}

  .inner section
  {
      margin:45px auto;
  }
  .toggle{
    padding: 10px 0px 0px 16px;
    margin-bottom: 0px;
    max-width: 62px;
}


  
  @media screen and (max-width: 75em) {
      body
  { font-size:16px;}
  
  }
  
  @media screen and (max-width: 60em) {
      body
  { font-size:14px;}

  .toggle{
    padding: 6px 0px 0px 16px;
    max-width: 62px;
}
  }
  .clearfix:after {
     content: " "; 
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }
  .handmade {
    text-align:right;
    margin-top:100px;
  }
  .handmade em {
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    margin-left:5px;
  }}